@import "tailwindcss";

@theme {
  --color-primary: #B08630;
  --color-secondary: #FAF7E3;
  --color-tertiary: #D4BF94;
  --text-primary: rgba(255, 255, 255, 0.87);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  color: var(--text-primary);
}

footer {
  background-color: var(--color-primary);
  color: var(--text-primary);
}