@import "tailwindcss";

@theme {
  --color-primary: #b08630;
  --color-secondary: #FAF7E3;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #FAF7E3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-primary);
  height: 8vh;
}

footer {
  background-color: var(--color-primary);
}